.main {
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.section_intro {
    margin: 0 1rem;
    margin-top: 5rem;
}

.section_intro h2, p, ul {
    margin: 0 1rem;
}

.section_intro h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.section_intro h3 {
    font-size: 2rem;
    margin-bottom: 3rem;
}

.section_intro p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.section_intro .intro_p-excepcion {
    margin-top: 2rem;
}

.section_intro ul li {
    font-size: 1.6rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.section_intro ul .ul_li-excepcion {
    margin-top: 0rem;
}

.section_intro ul a {
    font-size: 1.6rem;
    color: white;
    margin: 0 2rem;
    text-decoration: none;
    background-color: var(--color-gray);
    padding: 0 .5rem;
}

.section_intro ul a:hover {
    opacity: .8;
}

.section_intro ul img {
    max-width: 30rem;
    margin-left: 5rem;
}

.section_intro a {
    font-size: 1.6rem;
    color: white;
    margin: 0 1rem;
    text-decoration: none;
    background-color: var(--color-gray);
    padding: 0 .5rem;
}

.section_intro a:hover {
    opacity: .8;
}

@media (min-width: 640px) {
    .section_intro ul img {
        max-width: 40rem;
    }    
}

@media (min-width: 900px) {
    .section_intro {
        max-width: 120rem;
    }

    .section_intro ul img {
        max-width: 50rem;
    } 
}

@media (min-width: 1200px) {
    .section_intro h2 {
        font-size: 4rem;
    }

    .section_intro h3 {
        font-size: 3rem;
    }

    .section_intro p {
        font-size: 2rem;
    }

    .section_intro ul li {
        font-size: 2rem;
    }

    .section_intro ul a {
        font-size: 2rem;
    }

    .section_intro ul img {
        max-width: 60rem;
    } 

    .section_intro a {
        font-size: 2rem;
    }
}